language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-padded -Wno-deprecated -Wno-c++98-compat -Wno-missing-prototypes -Wno-exit-time-destructors main.cpp Cat.cpp Fruit.cpp Person.cpp Seed.cpp TrashBin.cpp Treadmill.cpp ValueDisplay.cpp Wrappers.cpp && ./a.out"
hidden = ["ccls"]
